APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:+DeJcfnvNDmbwl1K/eOK+Kb2BPHp7FwtSltjCekRc3A=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost/lbv2
APP_TIMEZONE=Asia/Kolkata

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=lb_v2_final
DB_USERNAME=postgres
DB_PASSWORD=12345
# DB_SCHEMA=lb_scheme

SESSION_DRIVER=database
SESSION_LIFETIME=20
SESSION_TIMEOUT=1
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

ELK_HOST=https://localhost:9200
ELK_HOST_IP=127.0.0.1
ELK_USERNAME=elastic
ELK_PASSWORD=123456


SCOUT_DRIVER=meilisearch
MEILISEARCH_HOST=http://127.0.0.1:7700
MEILISEARCH_KEY=Jb@nglaN!c
JBLB_LOGO=1
APP_PORTAL=jb

DB_PAY_HOST = localhost
DB_PAY_PORT = 5432
LB_PAY_DB = lb_payments_db
DB_PAY_USERNAME = postgres
DB_PAY_PASSWORD = 12345